button {
    background-color: indianred; /* Green */
    border: none;
    color: white;
    padding: 1.5em 2.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5 em;
    margin-left: 10%;
    cursor: pointer;
    width: 30%;
    margin-bottom: 2%;
    border-radius: 5em;
  }
  button:hover{
      background-color:rgba(205, 92, 92, 0.61) ;
  }