<section class="our-webcoderskull ">
    <div class="container">
        <h2 class="font-weight-bold m-5 d-lg-flex justify-content-center" style="text-align: center;"> Developers Team </h2>
  
      <ul class="row">
           <li class="col-12 col-md-12 col-lg-6" style="left: 10%;">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="../../assets/images/salma.jpg" class="img-responsive" alt="">
              </figure>
              <h3>Salma Wael </h3>
  
            </div>
        </li>
        <li class="col-12 col-md-12 col-lg-6">
            <div class="cnt-block equal-hight" style="height: 349px; ">
              <figure><img src="../../assets/images/mayada.jpg" class="img-responsive" alt=""></figure>
              <h3>Mayada Eldesoky </h3>
  
            </div>
        </li>
  
        <li class="col-12 col-md-12 col-lg-6"  style="left: 10%;" >
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="../../assets/images/reham.jpg" class="img-responsive" alt=""></figure>
              <h3>Reham Anwar </h3>
  
            </div>
         </li>
        <li class="col-12 col-md-12 col-lg-6">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="../../assets/images/tahany.jpeg" class="img-responsive" alt=""></figure>
              <h3> Tahany El-Bek </h3>
  
            </div>
        </li>

      </ul>
    </div>
  </section>