<footer class="page-footer footer">
    <div class="container" style="max-width: 1140px;">

        <div class="row mb-4">
            <div class="col-lg-4 col-sm-6">
                <div id="block-footerlogos" data-block-plugin-id="system_menu_block:footer-logos"
                    class="c-footer__logos block block-system block-system-menu-blockfooter-logos">
                    <ul class="menu">
                        <li>
                            <a href="" class="c-footer__logo--light">logo</a>
                        </li>
                    </ul>
                </div><br>
                <p class="footer-desc f-15"> For over 20 years, we've created the scents that make you smile.
                    Whether you're shopping for fragrant body care or a 3-wick candle, we have hundreds of quality
                    products perfect for treating yourself or someone else</p><br>
                <h3>Get Connected</h3>
                <ul class="footer-icons list-inline f-20 mb-0 mt-4">
                    <li class="list-inline-item mr-3"><a href="https://www.facebook.com/bathandbodyworks" class="">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3"><a href="https://twitter.com/bathbodyworks" class="">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a></li>
                    <li class="list-inline-item mr-3"><a href="https://www.instagram.com/bathandbodyworks/" class="">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-7 offset-lg-1">
                <div class="row mt-lg-0">
                    <div class="col-md-4 mt-4 mt-lg-0">
                        <h5 class="footer-list-title f-18 font-weight-normal mb-3">Classification</h5>
                        <ul class="list-unstyled company-sub-menu py-2">
                            <li class="foot-list py-2" style="color: #8a8eaa;">Body Care</li>
                            <li class="foot-list py-2" style="color: #8a8eaa;">Hand Care</li>
                            <li class="foot-list py-2" style="color: #8a8eaa;">Face Care</li>
                        </ul>

                    </div>
                    <div class="col-md-4 mt-4 mt-lg-0">
                        <h5 class="footer-list-title f-18 font-weight-normal mb-3">Home Delivery</h5>
                        <ul class="list-unstyled company-sub-menu py-2">
                            <li class="foot-list py-2" style="color: #8a8eaa;">* Cairo and Giza</li>
                            <li class="foot-list py-2" style="color: #8a8eaa;">* Alexandria</li>
                            <li class="foot-list py-2" style="color: #8a8eaa;">* Suez Canal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-3">
                <div class="text-left footer-alt my-3">
                    <p class="f-15">© Bath & Body Works. All Rights Reserved.</p>
                </div>
            </div>

            <div class="col-lg-6 mt-3">
                <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
                    <button type="button" class="btn active" data-toggle="button" aria-pressed="true"
                        (click)="scrollToTop()">
                        <fa-icon [icon]="faArrowCircleUp"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="block-footerlogos" data-block-plugin-id="system_menu_block:footer-logos"
        class="c-footer__logos block block-system block-system-menu-blockfooter-logos">
        <ul class="menu">
            <li>
                <a href="" class="c-footer__logo--visa">visa</a>
            </li>
            <li>
                <a href="" class="c-footer__logo--mastercard">mastercard</a>
            </li>
        </ul>
    </div>
</footer>